<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="io.branchmetrics.branchreferral" version="0.2.1">
    <name>Branch</name>
    <description>Branch Deep Linking SDK</description>
    <license>See docs</license>
    <keywords>branch,deep links</keywords>
    <js-module src="branch.js" name="Branch">
        <clobbers target="branch" />
    </js-module>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Branch">
                <param name="android-package" value="io.branch.referral.CDVBranch"/>
            </feature>
        </config-file>
        <source-file src="nativelibs/Branch_Android_SDK/Branch.java" target-dir="src/io/branch/referral"  />
        <source-file src="nativelibs/Branch_Android_SDK/Base64.java" target-dir="src/io/branch/referral"  />
        <source-file src="nativelibs/Branch_Android_SDK/BranchRemoteInterface.java" target-dir="src/io/branch/referral"  />
        <source-file src="nativelibs/Branch_Android_SDK/CDVBranch.java" target-dir="src/io/branch/referral"  />
        <source-file src="nativelibs/Branch_Android_SDK/NetworkCallback.java" target-dir="src/io/branch/referral"  />
        <source-file src="nativelibs/Branch_Android_SDK/PrefHelper.java" target-dir="src/io/branch/referral"  />
        <source-file src="nativelibs/Branch_Android_SDK/RemoteInterface.java" target-dir="src/io/branch/referral"  />
        <source-file src="nativelibs/Branch_Android_SDK/ServerRequest.java" target-dir="src/io/branch/referral"  />
        <source-file src="nativelibs/Branch_Android_SDK/SystemObserver.java" target-dir="src/io/branch/referral"  />
        <source-file src="nativelibs/Branch_Android_SDK/ApkParser.java" target-dir="src/io/branch/referral"  />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Branch">
                <param name="ios-package" value="CDVBranch"/>
            </feature>
        </config-file>

        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="AdSupport.framework" weak="true" />
        <header-file src="nativelibs/Branch_iOS_SDK/CDVBranch.h" />
        <source-file src="nativelibs/Branch_iOS_SDK/CDVBranch.m" />
        <header-file src="nativelibs/Branch_iOS_SDK/Branch.h" />
        <source-file src="nativelibs/Branch_iOS_SDK/Branch.m" />
        <header-file src="nativelibs/Branch_iOS_SDK/BranchServerInterface.h" />
        <source-file src="nativelibs/Branch_iOS_SDK/BranchServerInterface.m" />
        <header-file src="nativelibs/Branch_iOS_SDK/PreferenceHelper.h" />
        <source-file src="nativelibs/Branch_iOS_SDK/PreferenceHelper.m" />
        <header-file src="nativelibs/Branch_iOS_SDK/ServerInterface.h" />
        <source-file src="nativelibs/Branch_iOS_SDK/ServerInterface.m" />
        <header-file src="nativelibs/Branch_iOS_SDK/ServerRequest.h" />
        <source-file src="nativelibs/Branch_iOS_SDK/ServerRequest.m" />
        <header-file src="nativelibs/Branch_iOS_SDK/SystemObserver.h" />
        <source-file src="nativelibs/Branch_iOS_SDK/SystemObserver.m" />
    </platform>
</plugin>
